@themeColorMain: #f7f4e9;
@headerColor: #45a2bf;
@hoverColor: white;
body{
    background-color: @themeColorMain;
    #titleHeader{
        background-color: @headerColor;
    }
    .linkButtons{
        background-color: @headerColor;
        float: left;
        width:20%;
        padding: 15px 32px;
        border: 55px black;
        text-align: center;
        text-decoration: none;
        margin-top: 0 px;
        font-size: 30px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    }
    .linkButtons:hover{
        background-color: @hoverColor;
    }
    .selectedButton{
        .linkButtons();
        opacity: 0.6;
        cursor: not-allowed;
    }
    .tab{
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    .tab button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        padding: 14px 16px;
        transition: 0.3s;
    }
    .tab button:hover{
        background-color: #ddd;
    }
    .tab button.active {
        background-color: #ccc;
    }
    .tabcontent{
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
}