<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!--Static load in for images and style sheet-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'Styling.css' %}">
    <script src="../static/tabscode.js"></script>
    <title>Crops</title>
</head>
<body>
    <header>
        <h1 div id="titleHeader"> Disney Dreamlight Valley Resources</h1>
        <hr width = 100% size=5 color="black" noshade style="margin-top: auto; margin-bottom:0px;"/> <!--black divider bar-->
        <button type="button" div class="linkButtons" onclick="window.location.href='http://127.0.0.1:8000';">Home</div></button>
        <button type="button" div class="linkButtons" onclick="window.location.href='http://127.0.0.1:8000/characters/';">Characters</div></button> <!--Linking to Characters page-->
        <button type="button" div class="selectedButton" onclick="window.location.href='http://127.0.0.1:8000/crops/';">Crops</div></button> <!--Linking to Crops page-->
        <button type="button" div class="linkButtons" onclick="window.location.href='http://127.0.0.1:8000/fishing/';">Fishing</div></button> <!---Linking to Fishing page-->
        <button type="button" div class="linkButtons" onclick="window.location.href='http://127.0.0.1:8000/mining/';">Mining</div></button> <!---Linking to Mining page-->

    </header>
    <div class="container-fluid">
        
            <!--Creating tabs + links-->
            <div class="tab">
                <button class="tablinks" onclick="openSpecifier(event, 'Plaza')" id="defaultOpen">Plaza</button>
                <button class="tablinks" onclick="openSpecifier(event, 'Meadow')">Peaceful Meadow</button>
                <button class="tablinks" onclick="openSpecifier(event, 'Beach')">Dazzle Beach</button>
                <button class="tablinks" onclick="openSpecifier(event, 'Glade')">Glade of Trust</button>
                <button class="tablinks" onclick="openSpecifier(event, 'Forest')">Forest of Valor</button>
                <button class="tablinks" onclick="openSpecifier(event, 'Plateau')">Sunlit Plateau</button>
                <button class="tablinks" onclick="openSpecifier(event, 'Heights')">Frosted Heights</button>
                <button class="tablinks" onclick="openSpecifier(event, 'Lands')">Forgotten Lands</button>
            </div>
            <!--Tab contents-->
            <div id="Plaza" class="tabcontent">
                Placeholder
            </div>

            <div id="Meadow" class="tabcontent">
                Placeholder
            </div>

            <div id="Beach" class="tabcontent">
                Placeholder
            </div>

            <div id="Glade" class="tabcontent">
                Placeholder
            </div>

            <div id="Forest" class="tabcontent">
                Placeholder
            </div>

            <div id="Plateau" class="tabcontent">
                Placeholder
            </div>

            <div id="Heights" class="tabcontent">
                Placeholder
            </div>

            <div id="Lands" class="tabcontent">
                Placeholder9
            </div>
        
    </div>


 
<p>
</p>

</body>
</html>